<!DOCTYPE html >

<html lang="de" dir="ltr">
<head>
   <meta charset="utf-8" />
   <title>Ringo Virtue</title>
   <link rel="stylesheet" type="text/css" media="print" title="CSS Stylesheet" href="./static/reset.css" />
   <link rel="stylesheet" type="text/css" media="print" title="CSS Stylesheet" href="./static/main.css" />
</head>
<html>
<body class="main">
   <div class="content">
      <h1>{% block title %} {% endblock %}</h1>
      {% block content %}

      {% endblock %}
   </div>

   <div>
      {% block footer %}
      <hr/>
      {% endblock %}
   </div>
<body>

</html>